
#map {
  border:1px solid #021a40;
}

label.inl {
  display: inline;
  font-weight: inherit;
}

.flow-element {
  width:350px;
}

.legende_box {
  background-color: #ffffffc9; 
  border:1px solid #000000;
  min-width: 300px;;

}

.legende {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-left: 1%;
  /* display: block; */
}


table {
  margin-top: 0;
  margin-bottom: 0;
}