
#map {
  width: 95%;
  border:1px solid #021a40;
}

label.inl {
  display: inline;
  font-weight: inherit;
}

.bondssec {
  border:1px solid #000000
}

.flow-element {
  width:350px;
}

.legende_box {
  background-color: #ffffffc9; 
  border:1px solid #000000;
  min-width: 300px;;

}

.legende {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-left: 1%;
  /* display: block; */
}

.legendeBondssec {
  width: 40px;
  height: 30px;
  border:1px solid #000000;
  object-fit: contain;
  margin-right: 2.5%;
  margin-left: 1%;
  /* display: block; */
}

table {
  margin-top: 0;
  margin-bottom: 0;
}