
#map {
  width: 100%;
  height: 500px;
}

label.inl {
  display: inline;
  font-weight: inherit;
}

.flow-element {
  width:350px;
}

.legende {
  width: 20px;
  height: 20px;
  object-fit: contain;
  /* display: block; */
}

table {
  margin-top: 0;
  margin-bottom: 0;
}